* {
  margin: 0;
  padding: 0;
}

.App {
  .App-body {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text-bienvenue {
      height: 60vh;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 4rem;
      color: black;
    }
    .img-bienvenue {
      color: white;
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      background-image: url("./assets/images/stock-photo.jpeg");
      background-size: cover;
    }
    p {
      padding: 2rem;
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }
  .input {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
      }
    }

    button {
      font-size: 2rem;
      border-radius: 50px;
      width: 400px;
      cursor: pointer;
      transition:
        transform 0.3s ease,
        background-color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        background-color: #8da070;
      }
    }
  }
}
